<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your Events</h1>    
    <form action="/events/show/<%=i%>?_method=PUT" method="POST">
        <% for(let i=0; i<events.length; i++){ %>

            Title: <input type="text" name="title" value=<%=event.title%> /><br> <br>
            Location: <input type="text" name="location" value=<%=event.location%> /><br> <br>
            Start Date: <input type="text" name="start date" value=<%=event.startDate%> /><br> <br>
            Start Time: <input type="text" name="start time" value=<%=event.startTime%> /><br> <br>
            End Date: <input type="text" name="end date" value=<%=event.endDate%> /><br> <br>
            End Time: <input type="text" name="end time" value=<%=event.endTime%> /><br> <br>
            Time Zone: <input type="text" name="time zone" value=<%=event.timeZone%> /><br> <br>
            <input type="submit" value="Edit Event" />
        </form>
        <br><br>
        <form action="/events/show/<%=i%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" />
        </form>
        <br><br>
        <% } %> 
        
        <nav>
            <a href="/events/new">Add a New Event</a>
        </nav>
</body>
</html>